[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
jupyter-client = "*"
jupyter = "*"
matplotlib = "*"
tqdm = "*"
scipy = "*"
chipwhisperer = "*"
importlib-metadata = "*"
ipykernel = "*"
python-docx = "*"
exceptiongroup = "*"

[dev-packages]

[requires]
python_version = "3"
